<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>First</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>{{title}}</h1>
    <h2>Created by {{author}}</h2>
    <img id="fc" src="/img/frequencia-cardiaca.png" alt="uma simples mesa">
</body>

</html>