<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/sun.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/frequencia-cardiaca.png" alt="uma simples mesa">
    </div>
    {{>footer}}
</body>

</html>