<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Help</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>
            Information
        </h3>
        <p>{{msg}}</p>
    </div>
    {{>footer}}
</body>

</html>